<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.GoodsDao">

    <select id="findBySearch" resultType="com.example.entity.Goods">
        select `goods`.*, `type`.`name` as type from `goods`
		left join `type` on `goods`.`typeId` = `type`.id

        where 1 = 1
		<if test="search != null and search.name != null and search.name != ''">
			and `goods`.`name` like concat ('%', #{search.name}, '%')
		</if>

    </select>
    <select id="findBySearch1" resultType="com.example.entity.Goods">
        select `goods`.*, `type`.`name` as type from `goods`
        left join `type` on `goods`.`typeId` = `type`.id

        where 1 = 1 and    `goods`.`businessId`=#{businessId}
        <if test="search != null and search.name != null and search.name != ''">
            and `goods`.`name` like concat ('%', #{search.name}, '%')
        </if>

    </select>
    <select id="findByHot" resultType="com.example.entity.Goods">
        select `goods`.*, `type`.`name` as type from `goods`
        left join `type` on `goods`.`typeId` = `type`.id

        where ishot =  '是'


    </select>

</mapper>